@import 'tailwindcss';
@import './base.css';
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

#app {
  max-width: 100%;
  margin: 0;
  padding: 0rem;
  font-weight: normal;
  background-color: #242c3a; /* darker: #242c3a; lighter: #2d3748; */
  color: #e2e8f0;
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif' !important;
}

@media (hover: hover) {
  a:hover {
    background-color: #1a202c; /* hsla(160, 100%, 37%, 0.2); */
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

/* --- Language page --- */

p {
  text-align: justify;
}

.language-page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  text-align: center;
  margin-bottom: 20px;
  align-items: center;
}

.table-of-contents {
  border-left: 4px solid #cbd5e0;
  padding-left: 10px;
  margin-top: 60px;
}

.table-of-contents ul {
  list-style-type: none;
  padding-left: 5px;
}

.table-of-contents li {
  margin: 10px 0;
}

.table-of-contents a {
  text-decoration: none;
  color: #cbd5e0;
  text-decoration: none;
  font-weight: bold;
}

.table-of-contents a:hover {
  color: #cbd5e0;
  text-decoration: underline !important;
  text-decoration-color: #cbd5e0 !important;
  text-decoration-thickness: 2px !important;
  border-radius: 8px;
}

section {
  margin-bottom: 40px;
  margin-top: 32px;
}

pre {
  background-color: #1a202c;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  color: #cbd5e0;
}

.toc-title {
  color: #cbd5e0;
}

.section-title {
  color: #cbd5e0;
}

h1 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 2em;
}

h2 {
  font-weight: bold !important;
  color: #cbd5e0 !important;
  background-color: #1a202c !important;
  padding-left: 15px !important;
  border-radius: 8px !important;
  margin-top: 50px !important;
  margin-bottom: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 1.5em !important;
}

h3 {
  font-weight: bold;
  color: #cbd5e0;
  padding-left: 15px;
  font-size: 1.17em;
}

.el-collapse {
  border-top: none !important;
  border-bottom: none !important;
  --el-collapse-border-color: #1a202c !important;
  --el-collapse-header-bg-color: #1a202c !important;
  --el-collapse-header-text-color: #cbd5e0 !important;
  --el-collapse-content-bg-color: #cbd5e0 !important;
  --el-collapse-content-text-color: #1a202c !important;
}

.el-collapse-item {
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;

  .el-collapse-item__wrap {
    padding: 10px;
  }

  .el-collapse-item__content {
    padding: 10px 16px;
  }

  .el-collapse-item__header {
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: #3e60a3;
    }
  }
}

.el-tabs__item {
  color: #cbd5e0 !important;
}

.cardTitle {
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.el-card {
  margin-bottom: 20px;
  background-color: #cbd5e0 !important;
}

/* --- MainLayout.vue --- */

#layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

header {
  background-color: #f8f9fa;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

/* --- App.vue --- */

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  margin: 0;
  padding: 0;
  /*background-color: #f8f9fa;*/
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #1a202c !important;
  /*color: #ffffff;*/
  /* padding: 1rem !important; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px;
  /*position: fixed;*/
  /* margin-top: 20px; */
}

.el-menu {
  border-radius: 6px;
}

main {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

footer {
  background-color: #0056b3;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav a.router-link-active {
  font-weight: bold;
  background-color: #0056b3;
}

/* --- el-backtop --- */
.el-backtop {
  --el-backtop-text-color: #1a202c !important;
}

/* --- tailwindcss --- */
.ml-4.text-3xl.font-extrabold {
  margin-left: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900 !important;
  color: #cbd5e0 !important;
  font-size: 40px;
}

.block.md\:inline-block.px-4.py-2.rounded.hover\:bg-\[\#242c3a\]:hover {
  background-color: #242c3a;
  border-radius: 8px;
}

.px-4 {
  font-weight: bold !important;
  color: #e2e8f0 !important;
}

.block.md\:inline-block.px-4.py-2.rounded.hover\:bg-\[\#242c3a\] {
  font-weight: bold !important;
  color: #cbd5e0 !important;
  padding-left: 20px;
  border-radius: 8px;
  font-size: 20px !important;
}

.block.px-4.py-2 {
  font-weight: bold !important;
  color: #e2e8f0 !important;
  padding-left: 20px;
}

.absolute.md\:relative.top-full.left-0.w-full.md\:w-auto.bg-\[\#1a202c\].md\:bg-transparent.shadow-md.md\:shadow-none.z-10 {
  border-radius: 8px;
}

.block.md\:inline-block.px-4.py-2.rounded.hover\:bg-\[\#242c3a\]:hover.focus\:outline-none:hover {
  border-radius: 8px !important;
  cursor: pointer;
  background-color: #242c3a !important;
}
